{% extends "layout.html" %}
{% block title %} Dzuels Logistics {% endblock %}
{% block body %}
  <body class="kopa-home-page">
    <header class="kopa__header style--02">
      <div class="kopa__header--top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 hidden-xs hidden-sm">
              <div class="kopa__header__phone">
                <ul>
                  <li><i class="fa fa-phone"></i>+421 908 558 665</li>
                  <li>admin@dzuelslogistics.com</li>
                </ul>
              </div>
              <!-- header phone-->
            </div>
            <!-- col-->
            <div class="col-xs-12 col-sm-6 pull-right">
              <div class="kopa__header__contact pull-right"><a href="/contact">Contact Us<i class="fa fa-long-arrow-right"></i></a></div>
              <!-- header contact-->
              <div class="kopa__header__office pull-right">
                <div class="active"><img src="/static/images/icon/global.png" alt=""><span>Head Office</span></div>

              </div>
              <!-- header office-->
              <div class="kopa__header__country pull-right">
                <div class="active"><img src="/static/images/flag/flag01.png" alt=""></div>

                <!-- polylang-->
              </div>
              <!-- header country-->
            </div>
            <!-- col-->
            <div class="kopa__mobileMenu hidden-md hidden-lg">
              <div class="kopa__mobileMenu__iconBar"><span></span><span></span><span></span>
              </div>
              <!-- kopa mobile menu icon bar-->
              <nav>
              <ul class="nav">
                  <li><a href="/home">Home</a></li>
                  <li><a href="/about">About us</a></li>
                  <li><a href="/service">Service</a></li>
                  <li><a href="/contact">Contact us</a></li>
              </ul>
              </nav>
              <!-- nav-->
            </div>
            <!-- kopa mobile menu-->
          </div>
          <!-- row-->
        </div>
        <!-- container-->
      </div>
      <!-- kopa header top-->
      <div class="kopa__header--bottom">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <div class="kopa__header__logo"><a href="/home"><img src="/static/images/fixed/logo01.png" alt=""></a></div>
              <!-- kopa logo-->
            </div>
            <!-- .col-->
            <div class="col-xs-12 col-md-9">
              <div class="kopa__header__request pull-right"><a href="/request"><span></span>Request a quote</a></div>
              <!-- header request-->
              <nav class="kopa__header__mainMenu style--02 pull-right">
                <ul class="sf-menu">
                  <li><a href="/home">Home</a></li>
                  <li><a href="/about">About us</a></li>
                  <li><a href="/service">Service</a></li>
                  <li><a href="/contact">Contact us</a></li>
                </ul>
              </nav>
              <!-- kopa header mainMenu-->
            </div>
            <!-- .col-->
          </div>
          <!-- row-->
        </div>
        <!-- container-->
      </div>
      <!-- kopa header bottom-->
    </header>
    <!-- kopa__header-->
    <section class="kopa__mainContent">
      <section class="kopa__area kopa__area--noSpace">
        <div class="kopa__mainSlider style--02 cd-hero">
          <ul class="cd-hero-slider">
            <li class="kopa__mainSlider__item selected">
              <div class="kopa--inner">
                <div class="kopa__mainSlider__text">
                  <h2><span>sea</span>transportation</h2><a href="#" class="kopa__viewMore style--02">LEARN MORE<i class="fa fa-chevron-circle-right"></i></a>
                </div>
                <!-- main slider text-->
              </div>
              <!-- kopa inner-->
              <div class="kopa__imgBg"><img src="/static/images/placeholder/slider/04.jpg" alt=""></div>
              <!-- kopa imgBg-->
            </li>
            <!-- main slider item-->
            <li class="kopa__mainSlider__item">
              <div class="kopa--inner">
                <div class="kopa__mainSlider__text">
                  <h2><span>air</span>transportation</h2><a href="#" class="kopa__viewMore style--02">LEARN MORE<i class="fa fa-chevron-circle-right"></i></a>
                </div>
                <!-- main slider text-->
              </div>
              <!-- kopa inner-->
              <div class="kopa__imgBg"><img src="/static/images/placeholder/slider/05.jpg" alt=""></div>
              <!-- kopa imgBg-->
            </li>
            <!-- main slider item-->
            <li class="kopa__mainSlider__item">
              <div class="kopa--inner">
                <div class="kopa__mainSlider__text">
                  <h2><span>ROAD</span>transportation</h2><a href="#" class="kopa__viewMore style--02">LEARN MORE<i class="fa fa-chevron-circle-right"></i></a>
                </div>
                <!-- main slider text-->
              </div>
              <!-- kopa inner-->
              <div class="kopa__imgBg"><img src="/static/images/placeholder/slider/03.jpg" alt=""></div>
              <!-- kopa imgBg-->
            </li>
            <!-- main slider item-->
            <li class="kopa__mainSlider__item">
              <div class="kopa--inner">
                <div class="kopa__mainSlider__text">
                  <h2><span>OCEAN</span>transportation</h2><a href="#" class="kopa__viewMore style--02">LEARN MORE<i class="fa fa-chevron-circle-right"></i></a>
                </div>
                <!-- main slider text-->
              </div>
              <!-- kopa inner-->
              <div class="kopa__imgBg"><img src="/static/images/placeholder/slider/04.jpg" alt=""></div>
              <!-- kopa imgBg-->
            </li>
            <!-- main slider item-->
            <li class="kopa__mainSlider__item">
              <div class="kopa--inner">
                <div class="kopa__mainSlider__text">
                  <h2><span>Warehousing</span>transportation</h2><a href="#" class="kopa__viewMore style--02">LEARN MORE<i class="fa fa-chevron-circle-right"></i></a>
                </div>
                <!-- main slider text-->
              </div>
              <!-- kopa inner-->
              <div class="kopa__imgBg"><img src="/static/images/placeholder/slider/01.jpg" alt=""></div>
              <!-- kopa imgBg-->
            </li>
            <!-- main slider item-->
          </ul>
          <div class="cd-slider-nav">
            <nav>
              <ul>
                <li class="selected"><a href="#0">sea freight</a><i class="fa fa-ship"></i></li>
                <li><a href="#0">air freight</a><i class="fa fa-plane"></i></li>
                <li><a href="#0">ROAD freight</a><i class="fa fa-truck"></i></li>
                <li><a href="#0">OCEAN TRANSPORTATION</a><i class="fa fa-car"></i></li>
                <li><a href="#0">Warehousing</a><i class="fa fa-cubes"></i></li>
              </ul>
            </nav>
          </div>
          <!-- cd slider nav-->
        </div>
        <!-- kopa__mainSlider-->
      </section>
      <!-- kopa-area-->
      <section class="kopa__area">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="widget kopa__service style--03 kopa__reveal left">
                <div class="widget-title style--05">
                  <h3 class="primary__title"><a href="#">What we Offer</a></h3>
                </div>
                <!-- widget title-->
                <div class="widget-content">
                  <div class="row">
                    <ul>
                                <li class="col-xs-12 col-sm-6 col-md-6">
                                  <article class="entry-item">
                                    <div class="entry-content">
                                      <h5 class="entry-title"><a href="#">Become a customer</a></h5>
                                      <div class="kopa__line--dotted style--04"><span class="kopa__line--dotted--small kopa__line--dotted--dark"></span><span class="kopa__line--dotted--small kopa__line--dotted--gray"></span><span class="kopa__line--dotted--small kopa__line--dotted--light"></span></div>
                                      <!-- kopa line dotted--><i class="service__listIcon ti-write"></i>
                                    </div>
                                    <!-- entry content-->
                                  </article>
                                  <!-- entry item-->
                                </li>
                                <li class="col-xs-12 col-sm-6 col-md-6">
                                  <article class="entry-item">
                                    <div class="entry-content">
                                      <h5 class="entry-title"><a href="#">express services</a></h5>
                                      <div class="kopa__line--dotted style--04"><span class="kopa__line--dotted--small kopa__line--dotted--dark"></span><span class="kopa__line--dotted--small kopa__line--dotted--gray"></span><span class="kopa__line--dotted--small kopa__line--dotted--light"></span></div>
                                      <!-- kopa line dotted--><i class="service__listIcon fa fa-truck"></i>
                                    </div>
                                    <!-- entry content-->
                                  </article>
                                  <!-- entry item-->
                                </li>
                                <li class="col-xs-12 col-sm-6 col-md-6">
                                  <article class="entry-item">
                                    <div class="entry-content">
                                      <h5 class="entry-title"><a href="#">Cargo</a></h5>
                                      <div class="kopa__line--dotted style--04"><span class="kopa__line--dotted--small kopa__line--dotted--dark"></span><span class="kopa__line--dotted--small kopa__line--dotted--gray"></span><span class="kopa__line--dotted--small kopa__line--dotted--light"></span></div>
                                      <!-- kopa line dotted--><i class="service__listIcon fa fa-cubes"></i>
                                    </div>
                                    <!-- entry content-->
                                  </article>
                                  <!-- entry item-->
                                </li>
                                <li class="col-xs-12 col-sm-6 col-md-6">
                                  <article class="entry-item">
                                    <div class="entry-content">
                                      <h5 class="entry-title"><a href="#">Parcels</a></h5>
                                      <div class="kopa__line--dotted style--04"><span class="kopa__line--dotted--small kopa__line--dotted--dark"></span><span class="kopa__line--dotted--small kopa__line--dotted--gray"></span><span class="kopa__line--dotted--small kopa__line--dotted--light"></span></div>
                                      <!-- kopa line dotted--><i class="service__listIcon fa fa-fire"></i>
                                    </div>
                                    <!-- entry content-->
                                  </article>
                                  <!-- entry item-->
                                </li>
                    </ul>
                  </div>
                  <!-- row-->
                </div>
                <!-- widget content-->
              </div>
              <!-- kopa service-->
            </div>
            <!-- col-->
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="widget kopa__about style--04 kopa__reveal right">
                <div class="widget-title style--05">
                  <h3 class="primary__title"><a href="about.html">About us</a></h3>
                </div>
                <!-- widget title-->
                <div class="widget-content">
                  <article class="entry-item">
                    <div class="entry-thumb"><a href="#"><img src="/static/images/placeholder/about/02.jpg" alt=""></a></div>
                    <!-- entry thumb-->
                    <br> <br> <br>
                    <div class="entry-content">
                        <p>Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. deliver operational excellence.
                      </div>
                    <!-- entry content-->
                  </article>
                  <!-- entry item-->
                </div>
                <!-- widget content-->
              </div>
              <!-- kopa about-->
            </div>
            <!-- col-->
          </div>
          <!-- row-->
        </div>
        <!-- container-->
      </section>
      <!-- kopa-area-->
      <section class="kopa__area kopa__area--noSpace kopa__area--06">
        <div class="container-fluid">
          <div class="row">
            <div class="widget kopa__service style--04 kopa__reveal bottom">
              <div class="kopa__service__header">
                <div class="widget-title style--05">
                  <h3 class="primary__title"><a href="#">our services</a></h3>
                </div>
                <!-- widget title-->
              </div>
              <!-- kopa service header-->
              <div class="widget-content">
                <div class="kopa__tab style--08">
                  <ul role="tablist" class="nav nav-tabs responsive">
                    <li role="presentation" class="active"><a href="#kopa__service__tab--01" aria-controls="kopa__service__tab--01" role="tab" data-toggle="tab">WAREHOUSING</a></li>
                    <li role="presentation"><a href="#kopa__service__tab--02" aria-controls="kopa__service__tab--02" role="tab" data-toggle="tab">INLAND</a></li>
                    <li role="presentation"><a href="#kopa__service__tab--03" aria-controls="kopa__service__tab--03" role="tab" data-toggle="tab">FAST AIR FREIGHT</a></li>
                    <li role="presentation"><a href="#kopa__service__tab--04" aria-controls="kopa__service__tab--04" role="tab" data-toggle="tab">sea freight</a></li>
                    <li role="presentation"><a href="#kopa__service__tab--05" aria-controls="kopa__service__tab--05" role="tab" data-toggle="tab">GROUND SHIPPING</a></li>
                  </ul>
                  <!-- nav-->
                  <div class="tab-content responsive">
                    <div id="kopa__service__tab--01" role="tabpanel" class="tab-pane fade in active">
                      <article class="entry-item">
                        <div class="entry-thumb"><a href="#"><img src="/static/images/placeholder/service/01.jpg" alt=""></a></div>
                        <!-- entry thumb-->
                        <div class="entry-content">
                          <h3 class="entry-title"><a href="#">Warehousing</a></h3>
                          <p>Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. deliver operational excellence.</p><a href="#" class="kopa__viewMore style--01">Know More</a>
                        </div>
                        <!-- entry content-->
                      </article>
                      <!-- entry item-->
                    </div>
                    <!-- tab pane-->
                    <div id="kopa__service__tab--02" role="tabpanel" class="tab-pane fade in">
                      <article class="entry-item">
                        <div class="entry-thumb"><a href="#"><img src="/static/images/placeholder/service/01.jpg" alt=""></a></div>
                        <!-- entry thumb-->
                        <div class="entry-content">
                          <h3 class="entry-title"><a href="#">INLAND</a></h3>
                          <p>Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. deliver operational excellence.</p><a href="#" class="kopa__viewMore style--01">Know More</a>
                        </div>
                        <!-- entry content-->
                      </article>
                      <!-- entry item-->
                    </div>
                    <!-- tab pane-->
                    <div id="kopa__service__tab--03" role="tabpanel" class="tab-pane fade in">
                      <article class="entry-item">
                        <div class="entry-thumb"><a href="#"><img src="/static/images/placeholder/service/01.jpg" alt=""></a></div>
                        <!-- entry thumb-->
                        <div class="entry-content">
                          <h3 class="entry-title"><a href="#">FAST AIR FREIGHT</a></h3>
                          <p>Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. deliver operational excellence.</p><a href="#" class="kopa__viewMore style--01">Know More</a>
                        </div>
                        <!-- entry content-->
                      </article>
                      <!-- entry item-->
                    </div>
                    <!-- tab pane-->
                    <div id="kopa__service__tab--04" role="tabpanel" class="tab-pane fade in">
                      <article class="entry-item">
                        <div class="entry-thumb"><a href="#"><img src="/static/images/placeholder/service/01.jpg" alt=""></a></div>
                        <!-- entry thumb-->
                        <div class="entry-content">
                          <h3 class="entry-title"><a href="#">sea freight</a></h3>
                          <p>Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. deliver operational excellence.</p><a href="#" class="kopa__viewMore style--01">Know More</a>
                        </div>
                        <!-- entry content-->
                      </article>
                      <!-- entry item-->
                    </div>
                    <!-- tab pane-->
                    <div id="kopa__service__tab--05" role="tabpanel" class="tab-pane fade in">
                      <article class="entry-item">
                        <div class="entry-thumb"><a href="#"><img src="/static/images/placeholder/service/01.jpg" alt=""></a></div>
                        <!-- entry thumb-->
                        <div class="entry-content">
                          <h3 class="entry-title"><a href="#">GROUND SHIPPING</a></h3>
                          <p>Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. deliver operational excellence.</p><a href="#" class="kopa__viewMore style--01">Know More</a>
                        </div>
                        <!-- entry content-->
                      </article>
                      <!-- entry item-->
                    </div>
                    <!-- tab pane-->
                  </div>
                  <!-- tab content-->
                </div>
                <!-- kopa tab-->
              </div>
              <!-- widget content-->
            </div>
            <!-- kopa service-->
          </div>
          <!-- row-->
        </div>
        <!-- container fluid-->
      </section>
      <section class="kopa__area kopa__area--noSpace">
        <div class="widget kopa__about style--05 kopa__reveal bottom">
          <div class="widget-title style--06">
            <div class="img__title"><img src="/static/images/placeholder/about/01.png" alt=""></div>
            <h3 class="primary__title"><a href="#">Ship your parcel in 5 easy steps</a></h3>
            <p class="text__title">Sending from point A to B? Rely on us anytime, anywhere. Tagoking can help you ship everything and you can manage every step of the shipping.</p><a href="#" class="kopa__viewMore style--01">Know More</a>
          </div>
          <!-- widget title-->
          <div class="widget-content">
            <article class="entry-item">
              <div class="entry-thumb"><a href="#"><img src="/static/images/placeholder/about/03.jpg" alt=""></a></div>
              <!-- entry-thumb-->
              <div class="entry-content"><img src="/static/images/placeholder/about/02.png" alt="">
                <h2 class="entry-title"><a href="#">We are the people<br>network</a></h2>
                <p>At Tagoking, your people and your business are at the heart of everything we do. Every day, we go to great lengths to connect pople and businesses all over the planet.</p><a href="#" class="kopa__viewMore style--03 btn btn--sm btn--curve btn--border--thick style--03">Meet uS<i class="fa fa-angle-double-right"></i></a>
              </div>
              <!-- entry content-->
            </article>
            <!-- entry item-->
          </div>
          <!-- widget content-->
        </div>
        <!-- kopa about-->
      </section>
      <!-- kopa-area-->
      <section class="kopa__area kopa__area--07">
        <div class="container">
                        <div class="widget slider__quote style--01 kopa__reveal bottom">
                          <ul data-controls class="bxslider">
                            <li>
                              <p class="slider__quote__text">I’ve been happy with the services provided by Tagoking llc. Samantha Culligan has beeb<br>wonderful! She has returned my calls quick, and she answered all my question!</p>
                              <h5 class="slider__quote__user"><a href="#">Anna briggs</a></h5><span class="slider__quote__position">CEO, Smart Move Ltd.</span>
                            </li>
                            <li>
                              <p class="slider__quote__text">I’ve been happy with the services provided by Tagoking llc. Samantha Culligan has beeb<br>wonderful! She has returned my calls quick, and she answered all my question!</p>
                              <h5 class="slider__quote__user"><a href="#">Anna briggs</a></h5><span class="slider__quote__position">CEO, Smart Move Ltd.</span>
                            </li>
                            <li>
                              <p class="slider__quote__text">I’ve been happy with the services provided by Tagoking llc. Samantha Culligan has beeb<br>wonderful! She has returned my calls quick, and she answered all my question!</p>
                              <h5 class="slider__quote__user"><a href="#">Anna briggs</a></h5><span class="slider__quote__position">CEO, Smart Move Ltd.</span>
                            </li>
                          </ul>
                        </div>
                        <!-- slider quote-->
          <!-- slider quote-->
        </div>
        <!-- container-->
      </section>
      <!-- kopa-area-->
    </section>
    
    <!-- kopa__mainContent-->
    <section class="kopa__bottomSidebar">
      <div class="container">
        <div class="row row__custom">
          <div class="col-xs-12 col-sm-3 kopa__reveal bottom">
            <div class="widget kopa__about style--06">
              <div class="widget-content"><a href="home-01.html"><img src="/static/images/fixed/logo01.png" alt=""></a>
                <p>TAGOKING International maintains three warehouse</p>
              </div>
              <!-- widget content-->
            </div>
            <!-- kopa about-->
            <div class="widget kopa__social style--01">
              <div class="widget-title style--04">
                <h4 class="primary__title">social</h4>
              </div>
              <!-- widget title-->
              <div class="widget-content">
                <ul>
                              <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
              </div>
              <!-- widget content-->
            </div>
            <!-- kopa social-->
          </div>
          <!-- col-->
          <div class="col-xs-12 col-sm-3 kopa__reveal bottom">
            <div class="widget kopa-listMenu">
              <div class="widget-title style--04">
                <h4 class="primary__title">Helpful Links</h4>
              </div>
              <!-- widget title-->
              <div class="widget-content">
                <ul>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Shortcodes</a></li>
                  <li><a href="#">Incoterms</a></li>
                  <li><a href="#">Vacancies</a></li>
                  <li><a href="#">Track Your Shipment</a></li>
                </ul>
              </div>
              <!-- widget content-->
            </div>
            <!-- list menu-->
          </div>
          <!-- col-->
          <div class="col-xs-12 col-sm-3 kopa__reveal bottom">
            <div class="widget kopa__contact style--02">
              <div class="widget-title style--04">
                <h4 class="primary__title">Get In Touch</h4>
              </div>
              <!-- widget title-->
              <div class="widget-content">
                <p><i class="fa fa-map-marker"></i>14 Tottenham Road, N1 4EP London, United Kingdom</p>
                <p><i class="fa fa-phone"></i><a href="#">+44 (0) 800 765 4321</a><a href="#">+44 (0) 800 777 4579</a></p>
              </div>
              <!-- widget content-->
            </div>
            <!-- kopa contact-->
          </div>
          <!-- col-->
          <div class="col-xs-12 col-sm-3 kopa__reveal bottom">
            <div class="widget kopa__newsLetter style--01">
              <div class="widget-title style--04">
                <h4 class="primary__title">Newsletter subscribe</h4>
              </div>
              <!-- widget title-->
              <div class="widget-content">
                <p>Subscribe to our newsletter and we will inform you about newest</p>
                <form action="http://dinhvankiem.com/">
                  <input type="text" placeholder="Enter your Email">
                  <input type="submit" value="Subscribe" class="btn btn--sm btn--curve btn__color--primary">
                </form>
              </div>
              <!-- widget content-->
            </div>
            <!-- kopa news letter-->
          </div>
          <!-- col-->
        </div>
        <!-- row-->
      </div>
      <!-- container-->
    </section>
    <!-- kopa bottom sidebar-->

    <!-- kopa__footer-->
    {% block footer %}
        <footer class="kopa__footer">
            <div class="container">
                <p>Copyright © 2012-2015 Logistics Theme by Upside Themes. All rights reserved</p>
            </div>
            <!-- container-->
                <div class="kopa__backTop"></div>
            <!-- back top-->
        </footer>
    {% endblock %}
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/jquery.appear.min.js"></script>
    <script src="/static/js/jquery.bootstrap.min.js"></script>
    <script src="/static/js/jquery.bxslider.min.js"></script>
    <script src="/static/js/jquery.classie.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/jquery.easing.1.3.min.js"></script>
    <script src="/static/js/jquery.easypiechart.min.js"></script>
    <script src="/static/js/jquery.fitvids.min.js"></script>
    <script src="/static/js/jquery.imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/jquery.masonry.pkgd.min.js"></script>
    <script src="/static/js/jquery.matchHeight-min.js"></script>
    <script src="/static/js/jquery.navgoco.min.js"></script>
    <script src="/static/js/jquery.owl.carousel.min.js"></script>
    <script src="/static/js/jquery.pro-bars.min.js"></script>
    <script src="/static/js/jquery.responsive-tabs.min.js"></script>
    <script src="/static/js/jquery.scrollreveal.min.js"></script>
    <script src="/static/js/jquery.superfish.min.js"></script>
    <script src="/static/js/jquery.uisearch.min.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/eh5v.files/html5video/html5ext.js"></script>
    <script src="/static/js/custom.min.js"></script>
  </body>
{% endblock %}
