{% extends "layout.html" %}
{% block title %} Dzuels Logistics {% endblock %}
{% block body %}
  <body class="kopa-sub-page">
    <header class="kopa__header style--01">
      <div class="kopa__header--top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 pull-right">
              <div class="kopa__header--right">

                <div class="kopa__header__office pull-left">
                  <div class="active"><img src="/static/images/icon/global.png" alt=""><span>Head Office</span></div>

                </div>
                <!-- header office-->
                <div class="kopa__header__email pull-left"><a href="page-request.html"><i class="fa fa-envelope-o"></i>Request a quote</a></div>
                <!-- header email-->
                <div class="kopa__mobileMenu hidden-md hidden-lg">
                  <div class="kopa__mobileMenu__iconBar"><span></span><span></span><span></span>
                  </div>
                  <!-- kopa mobile menu icon bar-->
              <nav>
              <ul class="nav">
                  <li><a href="/home">Home</a></li>
                  <li><a href="/about">About us</a></li>
                  <li><a href="/service">Service</a></li>
                  <li><a href="/contact">Contact us</a></li>
              </ul>
              </nav>
                  <!-- nav-->
                </div>
                <!-- kopa mobile menu-->
              </div>
              <!-- header right-->
            </div>
            <!-- col-->
            <div class="col-xs-12 col-md-3">
              <div class="kopa__header__logo"><a href="home-01.html"><img src="/static/images/fixed/logo01.png" alt=""></a></div>
              <!-- kopa logo-->
            </div>
            <!-- col-->
          </div>
          <!-- row-->
        </div>
        <!-- container-->
      </div>
      <!-- kopa header top-->
      <div class="kopa__header--bottom">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 hidden-xs hidden-sm">
                <nav class="kopa__header__mainMenu style--01">
                    <ul class="sf-menu">
                      <li><a href="/home">Home</a></li>
                      <li><a href="/about">About us</a></li>
                      <li><a href="/service">Service</a></li>
                      <li><a href="/contact">Contact us</a></li>
                    </ul>
                </nav>
              <!-- kopa header mainMenu-->
            </div>
          </div>
        </div>
      </div>
      <!-- kopa header bottom-->
    </header>
    <!-- kopa__header-->
    <section class="kopa__mainContent">
      <section class="kopa__area kopa__area--noSpace">
        <div class="container">
          <div class="widget kopa__topPage style--01">
            <div class="kopa__topPage--left">
              <div class="widget-title style--07 text--white">
                <h3 class="primary__title">services
                </h3>
              </div>
              <!-- widget title-->
                        <div class="kopa__breadcrumb style--01"><span>You are here:</span><i class="fa fa-angle-double-right"></i><a href="#">Pages</a><i class="fa fa-angle-double-right"></i><span>services</span></div>
                        <!-- breadcrumb-->
              <div class="kopa__topPage__back text--white"><a href="#"><i class="fa fa-long-arrow-right"></i>back</a></div>
              <!-- kopa topPage back-->
            </div>
            <!-- kopa topPage left-->
            <div class="kopa__topPage--right"><img src="/static/images/placeholder/breadcrumb/01.jpg" alt=""></div>
            <!-- kopa topPage right-->
          </div>
          <!-- kopa topPage-->
        </div>
        <!-- container-->
      </section>
      <!-- kopa-area-->
      <section class="kopa__area kopa__area--08">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">
              <div class="kopa__contentSubPage">
                <div class="kopa__link style--01"><a href="#">Transport</a><a href="#">Logistics</a><a href="#">Industries</a></div>
                <!-- kopa link-->
                <div class="kopa__contentSubPage__content">
                  <div class="kopa__tab style--05">
                    <div class="row">
                      <ul role="tablist" class="nav nav-tabs responsive">
                        <li role="presentation" class="active"><a href="#kopa__tab--15" aria-controls="kopa__tab--15" role="tab" data-toggle="tab"><i class="fa fa-globe"></i>air freight    </a></li>
                        <li role="presentation"><a href="#kopa__tab--16" aria-controls="kopa__tab--16" role="tab" data-toggle="tab"><i class="fa fa-globe"></i>Sea freight</a></li>
                        <li role="presentation"><a href="#kopa__tab--17" aria-controls="kopa__tab--17" role="tab" data-toggle="tab"><i class="fa fa-globe"></i>Retail Network</a></li>
                        <li role="presentation"><a href="#kopa__tab--18" aria-controls="kopa__tab--18" role="tab" data-toggle="tab"><i class="fa fa-globe"></i>Project Logistics</a></li>
                        <li role="presentation"><a href="#kopa__tab--19" aria-controls="kopa__tab--19" role="tab" data-toggle="tab"><i class="fa fa-globe"></i>Air charter and OBC’s</a></li>
                        <li role="presentation"><a href="#kopa__tab--20" aria-controls="kopa__tab--20" role="tab" data-toggle="tab"><i class="fa fa-globe"></i>Ship Parts Logistics</a></li>
                      </ul>
                      <!-- nav tabs-->
                      <div class="tab-content responsive">
                        <div id="kopa__tab--15" role="tabpanel" class="tab-pane fade in active">
                          <h3>Sea freight – on a safe course</h3><br>
                          <p class="text--01">We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.</p><br>
                          <p class="text--01">Logwin coordinates the entire process, from choosing the right modes of transport and loading equipment to ensuring reliable shipping, including pre- and onward carriage. Modern IT systems provide an up-to-date overview of the shipment status at any time.</p><br>
                          <h4>The sea freight services provided by Logwin include:</h4>
                          <ul class="style--06">
                            <li>FCL and LCL shipments</li>
                            <li>Intermodal and combined transport</li>
                            <li>Gateway transport</li>
                            <li>Project logistics</li>
                            <li>Pre- and onward carriage, door-to-door</li>
                            <li>Buyers’ consolidation</li>
                            <li>Seaworthy packing</li>
                            <li>Customs clearance and documentation</li>
                            <li>Global shipment tracking</li>
                            <li>Transport insurance</li>
                          </ul>
                        </div>
                        <!-- tab pane-->
                        <div id="kopa__tab--16" role="tabpanel" class="tab-pane fade in">
                          <h3>Sea freight – on a safe course</h3><br>
                          <p class="text--01">We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.</p><br>
                          <h4>The sea freight services provided by Logwin include:</h4>
                          <ul class="style--06">
                            <li>FCL and LCL shipments</li>
                            <li>Intermodal and combined transport</li>
                            <li>Gateway transport</li>
                            <li>Project logistics</li>
                            <li>Pre- and onward carriage, door-to-door</li>
                            <li>Buyers’ consolidation</li>
                            <li>Seaworthy packing</li>
                            <li>Customs clearance and documentation</li>
                            <li>Global shipment tracking</li>
                            <li>Transport insurance</li>
                          </ul><br>
                          <p class="text--01">Logwin coordinates the entire process, from choosing the right modes of transport and loading equipment to ensuring reliable shipping, including pre- and onward carriage. Modern IT systems provide an up-to-date overview of the shipment status at any time.</p>
                        </div>
                        <!-- tab pane-->
                        <div id="kopa__tab--17" role="tabpanel" class="tab-pane fade in">
                          <h3>Sea freight – on a safe course</h3><br>
                          <p class="text--01">We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.</p><br>
                          <h4>The sea freight services provided by Logwin include:</h4>
                          <ul class="style--06">
                            <li>FCL and LCL shipments</li>
                            <li>Intermodal and combined transport</li>
                            <li>Gateway transport</li>
                            <li>Project logistics</li>
                            <li>Pre- and onward carriage, door-to-door</li>
                            <li>Buyers’ consolidation</li>
                            <li>Seaworthy packing</li>
                            <li>Customs clearance and documentation</li>
                            <li>Global shipment tracking</li>
                            <li>Transport insurance</li>
                          </ul>
                        </div>
                        <!-- tab pane-->
                        <div id="kopa__tab--18" role="tabpanel" class="tab-pane fade in">
                          <h3>Sea freight – on a safe course</h3><br>
                          <h4>The sea freight services provided by Logwin include:</h4>
                          <ul class="style--06">
                            <li>FCL and LCL shipments</li>
                            <li>Intermodal and combined transport</li>
                            <li>Gateway transport</li>
                            <li>Project logistics</li>
                          </ul><br>
                          <p class="text--01">We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.</p>
                        </div>
                        <!-- tab pane-->
                        <div id="kopa__tab--19" role="tabpanel" class="tab-pane fade in">
                          <h3>Sea freight – on a safe course</h3><br>
                          <h4>The sea freight services provided by Logwin include:</h4>
                          <ul class="style--06">
                            <li>FCL and LCL shipments</li>
                            <li>Intermodal and combined transport</li>
                            <li>Gateway transport</li>
                            <li>Project logistics</li>
                          </ul><br>
                          <p class="text--01">We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.</p><br>
                          <ul class="style--06">
                            <li>FCL and LCL shipments</li>
                            <li>Intermodal and combined transport</li>
                            <li>Gateway transport</li>
                            <li>Project logistics</li>
                          </ul>
                        </div>
                        <!-- tab pane-->
                        <div id="kopa__tab--20" role="tabpanel" class="tab-pane fade in">
                          <h3>Sea freight – on a safe course</h3><br>
                          <h4>The sea freight services provided by Logwin include:</h4>
                          <ul class="style--06">
                            <li>FCL and LCL shipments</li>
                            <li>Intermodal and combined transport</li>
                            <li>Gateway transport</li>
                            <li>Project logistics</li>
                          </ul><br>
                          <p class="text--01">We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.</p><br>
                          <ul class="style--06">
                            <li>FCL and LCL shipments</li>
                            <li>Intermodal and combined transport</li>
                            <li>Gateway transport</li>
                            <li>Project logistics</li>
                          </ul><br>
                          <ul class="style--06">
                            <li>FCL and LCL shipments</li>
                            <li>Intermodal and combined transport</li>
                            <li>Gateway transport</li>
                            <li>Project logistics</li>
                          </ul>
                        </div>
                        <!-- tab pane-->
                      </div>
                      <!-- tab content-->
                    </div>
                    <!-- row-->
                  </div>
                  <!-- kopa tab-->
                </div>
                <!-- kopa content sub page content-->
              </div>
              <!-- kopa content sub page-->
            </div>
            <!-- col-->
            <div class="col-xs-12 col-sm-4 col-md-3 sidebar kopa__sideBar">
              <section class="widget kopa__recentPost style--01">
                <div class="widget-title">
                  <h3 class="primary__title">Company News</h3>
                  <div class="kopa__line--dotted style--02"><span class="kopa__line--dotted--small kopa__line--dotted--dark"></span><span class="kopa__line--dotted--small kopa__line--dotted--gray"></span><span class="kopa__line--dotted--small kopa__line--dotted--light"></span><span class="kopa__line--dotted--wide"></span></div>
                  <!-- kopa line dotted-->
                </div>
                <!-- widget title-->
                <div class="widget-content">
                  <ul>
                    <li><a href="#"><img src="/static/images/placeholder/recent-post/01.jpg" alt=""></a>
                      <h5 class="entry__title style--03"><a href="#">Trucking - Company of the Year 2014</a></h5><span class="entry-date">19/01/2016</span>
                    </li>
                    <li><a href="#"><img src="/static/images/placeholder/recent-post/01.jpg" alt=""></a>
                      <h5 class="entry__title style--03"><a href="#">Trucking - Company of the Year 2014</a></h5><span class="entry-date">19/01/2016</span>
                    </li>
                    <li><a href="#"><img src="/static/images/placeholder/recent-post/01.jpg" alt=""></a>
                      <h5 class="entry__title style--03"><a href="#">Trucking - Company of the Year 2014</a></h5><span class="entry-date">19/01/2016</span>
                    </li>
                    <li><a href="#"><img src="/static/images/placeholder/recent-post/01.jpg" alt=""></a>
                      <h5 class="entry__title style--03"><a href="#">Trucking - Company of the Year 2014</a></h5><span class="entry-date">19/01/2016</span>
                    </li>
                    <li><a href="#"><img src="/static/images/placeholder/recent-post/01.jpg" alt=""></a>
                      <h5 class="entry__title style--03"><a href="#">Trucking - Company of the Year 2014</a></h5><span class="entry-date">19/01/2016</span>
                    </li>
                  </ul>
                </div>
                <!-- widget content-->
              </section>
              <!-- kopa recent post-->
            </div>
            <!-- col-->
          </div>
          <!-- row-->
        </div>
        <!-- container-->
      </section>
      <!-- kopa-area-->
      <section class="kopa__area kopa__area--10">
        <div class="container">
                    <div class="widget slider__quote style--02 kopa__reveal bottom">
                      <ul data-pager class="bxslider">
                        <li><i class="slider__quote__icon ti-headphone-alt"></i>
                          <h3 class="slider__quote__text">“Special assistance? Any Questions? We arehere to help you”</h3>
                          <p class="slider__quote__number">1800 1895</p><a href="#"><i class="fa fa-angle-right"></i>Go to Help Center</a>
                        </li>
                        <li><i class="slider__quote__icon ti-headphone-alt"></i>
                          <h3 class="slider__quote__text">“Special assistance? Any Questions? We arehere to help you”</h3>
                          <p class="slider__quote__number">1800 1895</p><a href="#"><i class="fa fa-angle-right"></i>Go to Help Center</a>
                        </li>
                        <li><i class="slider__quote__icon ti-headphone-alt"></i>
                          <h3 class="slider__quote__text">“Special assistance? Any Questions? We arehere to help you”</h3>
                          <p class="slider__quote__number">1800 1895</p><a href="#"><i class="fa fa-angle-right"></i>Go to Help Center</a>
                        </li>
                        <li><i class="slider__quote__icon ti-headphone-alt"></i>
                          <h3 class="slider__quote__text">“Special assistance? Any Questions? We arehere to help you”</h3>
                          <p class="slider__quote__number">1800 1895</p><a href="#"><i class="fa fa-angle-right"></i>Go to Help Center</a>
                        </li>
                      </ul>
                    </div>
                    <!-- slider quote-->
          <!-- slider quote-->
        </div>
        <!-- container-->
      </section>
      <!-- kopa-area-->
    </section>
    <!-- kopa__mainContent-->
    <section class="kopa__bottomSidebar">
      <div class="container">
        <div class="row row__custom">
          <div class="col-xs-12 col-sm-3 kopa__reveal">
            <div class="widget kopa__about style--03">
              <div class="widget-content"><a href="home-01.html"><img src="/static/images/fixed/logo01.png" alt=""></a>
                <p>TAGOKING International maintains three warehouse operations in strategically located shipping centers. We have over.</p>
              </div>
              <!-- widget content-->
            </div>
            <!-- kopa about-->
          </div>
          <!-- col-->
          <div class="col-xs-12 col-sm-3 kopa__reveal">
            <div class="widget kopa-listMenu">
              <div class="widget-title style--04">
                <h4 class="primary__title">Helpful Links</h4>
              </div>
              <!-- widget title-->
              <div class="widget-content">
                <ul>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Shortcodes</a></li>
                  <li><a href="#">Incoterms</a></li>
                  <li><a href="#">Vacancies</a></li>
                  <li><a href="#">Track Your Shipment</a></li>
                </ul>
              </div>
              <!-- widget content-->
            </div>
            <!-- list menu-->
          </div>
          <!-- col-->
          <div class="col-xs-12 col-sm-3 kopa__reveal">
            <div class="widget kopa__contact style--02">
              <div class="widget-title style--04">
                <h4 class="primary__title">Get In Touch</h4>
              </div>
              <!-- widget title-->
              <div class="widget-content">
                <p><i class="fa fa-map-marker"></i>14 Tottenham Road, N1 4EP London, United Kingdom</p>
                <p><i class="fa fa-phone"></i><a href="#">+44 (0) 800 765 4321</a><a href="#">+44 (0) 800 777 4579</a></p>
              </div>
              <!-- widget content-->
            </div>
            <!-- kopa contact-->
          </div>
          <!-- col-->
          <div class="col-xs-12 col-sm-3 kopa__reveal">
            <div class="widget kopa__newsLetter style--01">
              <div class="widget-title style--04">
                <h4 class="primary__title">Newsletter subscribe</h4>
              </div>
              <!-- widget title-->
              <div class="widget-content">
                <p>Subscribe to our newsletter and we will inform you about newest</p>
                <form action="http://dinhvankiem.com/">
                  <input type="text" placeholder="Enter your Email">
                  <input type="submit" value="Subscribe" class="btn btn--sm btn--curve btn__color--primary">
                </form>
              </div>
              <!-- widget content-->
            </div>
            <!-- kopa news letter-->
          </div>
          <!-- col-->
        </div>
        <!-- row-->
      </div>
      <!-- container-->
    </section>
    <!-- kopa bottom sidebar-->
    {% block footer %}
        <footer class="kopa__footer">
            <div class="container">
                <p>Copyright © 2012-2015 Logistics Theme by Upside Themes. All rights reserved</p>
            </div>
            <!-- container-->
                <div class="kopa__backTop"></div>
            <!-- back top-->
        </footer>
    {% endblock %}
    {% block scripts%}{% endblock %}
  </body>
{% endblock %}